<header class="nav-wrap">
    <nav class="nav">
        <div class="brand-group">
            <img src="favicon.ico" class="brand-logo" alt="logo">
            <h1 class="brand">Casino Angular</h1>
        </div>
        <div>
            <app-boton [nombreBoton]="'Home'" [Router_Link]="'home'"></app-boton>
            <app-boton [nombreBoton]="'Quién soy'" [Router_Link]="'quien-soy'"></app-boton>
            <app-boton [nombreBoton]="'Rankings'" [Router_Link]="'ranking'"></app-boton>
            @if (isLoggedIn) {
            <app-boton [nombreBoton]="'Encuesta'" [Router_Link]="'encuesta'"></app-boton>
            @if (isAdmin()){
                <app-boton [nombreBoton]="'Resultados'" [Router_Link]="'resultados'"></app-boton>
            }
            <!-- <app-boton [nombreBoton]="'Perfil'" [Router_Link]="'perfil'"></app-boton> --->
            <button class="pill" (click)="logout()">Cerrar sesión</button>
            } @else {
            <app-boton [nombreBoton]="'Iniciar sesión'" [Router_Link]="'login'"></app-boton>
            <app-boton [nombreBoton]="'Registrarse'" [Router_Link]="'register'"></app-boton>
            }
        </div>
    </nav>
    <div class="divider-shadow"></div>
</header>