<main class="container">
  <h1>Casino Angular</h1>
  <p style="margin-bottom: 2rem; color: #a08a11; font-weight: bold;">
    ¡Elegí tu juego y probá tu suerte!
  </p>

  @if(logueado) {
    <p style="margin-bottom: 2rem; color: #a08a11; font-weight: bold;">
      ¡Bienvenido usuario!
      puntos:
    </p>

  }
  <section class="cards">
    
    <article class="card">
      <div class="thumb slots">
        <img src="assets/el-ahorcado1.webp" alt="El ahorcado">
      </div>
      <h3>El Ahorcado</h3>
      <p>Adiviná la palabra letra a letra antes de que se complete el dibujo.</p>
      <app-boton [nombreBoton]="'Jugar'" [Router_Link]="'/juegos/ahorcado'"></app-boton>
    </article>

    <article class="card">
      <div class="thumb roulette">
        <img style="height: 90%;" src="https://deckofcardsapi.com/static/img/back.png" alt="Reverso de carta">
      </div>
      <h3>Mayor o Menor</h3>
      <p>Adiviná si la próxima carta será mayor o menor que la anterior y encadená tu mejor racha.</p>
      <app-boton [nombreBoton]="'Jugar'" [Router_Link]="'/juegos/mayor-menor'"></app-boton>
    </article>

    <article class="card">
      <div class="thumb trivia">
        <img style="filter: brightness(0);" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" alt="Pikachu Sombra">
      </div>
      <h3>Trivia Pokémon</h3>
      <p>¡¿Quién es ese Pokémon?! Solo con su silueta: elegí entre 4 opciones, uno es el correcto.</p>
      <app-boton [nombreBoton]="'Jugar'" [Router_Link]="'/juegos/trivia-pokemon'"></app-boton>
    </article>

    <article class="card">
      <div class="thumb blackjack">
        <img src="assets/icono-dados.webp" alt="Icono Dados">
      </div>
      <h3>21 con dados</h3>
      <p>Lanza los dados, el que quede más cerca de 21 sin pasarse, gana.</p>
      <app-boton [nombreBoton]="'Jugar'" [Router_Link]="'/juegos/veintiuno'"></app-boton>
    </article>
  </section>
</main>